<section id="headline">
    <div class="container">
        <h3>Hakkımızda</h3>
    </div>
</section>
<section class="container">
    <hr class="vertical-space2" />
    <article class="twelve">
        <div class="sub-content">
            <h6 class="h-sub-content">Biz Kimiz?</h6>
        </div>
        <p>
            Raw denim you probably haven't heard of them jean shorts Austin. Etiam ut lacus a dui accumsan accumsan tofu stumptown aliqua, retro synth master cleanse.<br />
            Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. <br />
            Malesuada tortor, nec scelerisque Morlem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit Morlem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
        </p>
    </article>
    <!-- end Who We Are -->
</section>